<ul class="uk-nav uk-nav-default tm-nav">
  <li class="uk-nav-header">
    <h6 class="uk-margin-remove uk-text-light"> Administrator </h6>
  </li>
  <li>
    <a href="/">
      <span uk-icon="home" class="uk-icon"></span>
      <span class="uk-text-bottom"> Dashboard </span>            
    </a>
  </li>
  <li class="uk-parent">
    <a href="/publisher/list">
      <span uk-icon="desktop" class="uk-icon"></span>
      <span class="uk-text-middle"> Publishers </span>
    </a>
    <ul class="uk-nav-sub">
      <li>
        <a href="/publisher/view"> Default Publisher </a>
          <ul class="uk-nav-sub">
            <li>
              <a href="/zone/view">
                <span uk-icon="move" class="uk-icon"></span>
                <span class="uk-text-middle"> Default Zone </span>
              </a>
            </li>
          </ul>
        </a>
      </li>
    </ul>
  </li>
  <li class="uk-parent">
    <a href="/advertiser/list">
      <span uk-icon="users" class="uk-icon"></span>
      <span class="uk-text-middle"> Advertisers </span>
    </a>
    <ul class="uk-nav-sub">
      <li>
        <a href="/advertiser/view"> Default Advertiser </a>
        <ul class="uk-nav-sub">
          <li>
            <a href="/campaign/view">
              <span uk-icon="image" class="uk-icon"></span>
              <span class="uk-text-middle"> Default Campaign </span>
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </li>
</ul>
