<ul class="uk-nav uk-nav-default tm-nav">
  <li class="uk-nav-header">
    <h6 class="uk-margin-remove uk-text-light"> Administrator </h6>
  </li>
  <li>
    <a href="/">
      <span uk-icon="home" class="uk-icon"></span>
      <span class="uk-text-bottom"> Dashboard </span>            
    </a>
  </li>
  <li class="uk-parent">
    <a href="/publisher/list">
      <span uk-icon="desktop" class="uk-icon"></span>
      <span class="uk-text-middle"> Publishers </span>
    </a>
    {{ publishersAndZones publishers }}
  </li>
  <li class="uk-parent">
    <a href="/advertiser/list">
      <span uk-icon="users" class="uk-icon"></span>
      <span class="uk-text-middle"> Advertisers </span>
    </a>
    {{ advertisersAndCampaigns advertisers }}
  </li>
</ul>
