body {
  margin: 0
}

a:active,a:hover {
  outline: none
}

a,.uk-link {
  color: #1e87f0;
  text-decoration: none;
  cursor: pointer
}

a:hover,.uk-link:hover,.uk-link-toggle:hover .uk-link,.uk-link-toggle:focus .uk-link {
  color: #0f6ecd;
  text-decoration: underline
}

abbr[title] {
  text-decoration: underline dotted;
  -webkit-text-decoration-style: dotted
}

b,strong {
  font-weight: bolder
}

:not(pre)>code,:not(pre)>kbd,:not(pre)>samp {
  font-family: 'Roboto Mono',monospace;
  font-size: 12px;
  color: #f0506e;
  white-space: nowrap;
  padding: 2px 6px;
  background: #f8f8f8
}

em {
  color: #f0506e
}

ins {
  background: #ffd;
  color: #666;
  text-decoration: none
}

mark {
  background: #ffd;
  color: #666
}

q {
  font-style: italic
}

small {
  font-size: 80%
}

sub,sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline
}

sup {
  top: -0.5em
}

sub {
  bottom: -0.25em
}

audio,canvas,iframe,img,svg,video {
  vertical-align: middle
}

canvas,img,video {
  max-width: 100%;
  height: auto;
  box-sizing: border-box
}

@supports (display: block) {
  svg {
      max-width:100%;
      height: auto;
      box-sizing: border-box
  }
}

svg:not(:root) {
  overflow: hidden
}

img:not([src]) {
  min-width: 1px;
  visibility: hidden
}

iframe {
  border: 0
}

p,ul,ol,dl,pre,address,fieldset,figure {
  margin: 0 0 20px 0
}

*+p,*+ul,*+ol,*+dl,*+pre,*+address,*+fieldset,*+figure {
  margin-top: 20px
}

h1,.uk-h1,h2,.uk-h2,h3,.uk-h3,h4,.uk-h4,h5,.uk-h5,h6,.uk-h6,.uk-heading-small,.uk-heading-medium,.uk-heading-large,.uk-heading-xlarge,.uk-heading-2xlarge {
  margin: 0 0 20px 0;
  font-family: ProximaNova,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
  font-weight: 300;
  color: #222;
  text-transform: none
}

*+h1,*+.uk-h1,*+h2,*+.uk-h2,*+h3,*+.uk-h3,*+h4,*+.uk-h4,*+h5,*+.uk-h5,*+h6,*+.uk-h6,*+.uk-heading-small,*+.uk-heading-medium,*+.uk-heading-large,*+.uk-heading-xlarge,*+.uk-heading-2xlarge {
  margin-top: 40px
}

h1,.uk-h1 {
  font-size: 32.3px;
  line-height: 1.2
}

h2,.uk-h2 {
  font-size: 25.5px;
  line-height: 1.3
}

h3,.uk-h3 {
  font-size: 24px;
  line-height: 1.4
}

h4,.uk-h4 {
  font-size: 20px;
  line-height: 1.4
}

h5,.uk-h5 {
  font-size: 15px;
  line-height: 1.4
}

h6,.uk-h6 {
  font-size: 14px;
  line-height: 1.4
}

@media (min-width: 960px) {
  h1,.uk-h1 {
      font-size:38px
  }

  h2,.uk-h2 {
      font-size: 30px
  }
}

ul,ol {
  padding-left: 30px
}

ul>li>ul,ul>li>ol,ol>li>ol,ol>li>ul {
  margin: 0
}

dt {
  font-weight: bold
}

dd {
  margin-left: 0
}

hr,.uk-hr {
  overflow: visible;
  text-align: inherit;
  margin: 0 0 20px 0;
  border: 0;
  border-top: 1px solid #e5e5e5
}

*+hr,*+.uk-hr {
  margin-top: 20px
}

address {
  font-style: normal
}

blockquote {
  margin: 0 0 20px 0;
  font-size: 20px;
  line-height: 1.5;
  font-style: italic;
  color: #222
}

*+blockquote {
  margin-top: 20px
}

blockquote p:last-of-type {
  margin-bottom: 0
}

blockquote footer {
  margin-top: 10px;
  font-size: 14px;
  line-height: 1.5;
  color: #666
}

blockquote footer::before {
  content: "â€” "
}

pre {
  font: 12px / 1.5 'Roboto Mono',monospace;
  color: #666;
  -moz-tab-size: 4;
  tab-size: 4;
  overflow: auto;
  padding: 25px;
  border: 0 solid #e5e5e5;
  border-radius: 0;
  background: #f8f8f8
}

pre code {
  font-family: 'Roboto Mono',monospace
}

::selection {
  background: #39f;
  color: #fff;
  text-shadow: none
}

details,main {
  display: block
}

summary {
  display: list-item
}

template {
  display: none
}

@media (min-width: 640px) {
  .uk-container {
      padding-left:30px;
      padding-right: 30px
  }
}

@media (min-width: 960px) {
  .uk-container {
      padding-left:40px;
      padding-right: 40px
  }
}

.uk-container>:last-child {
  margin-bottom: 0
}

.uk-container .uk-container {
  padding-left: 0;
  padding-right: 0
}

.uk-container-xsmall {
  max-width: 750px
}

.uk-container-small {
  max-width: 700px
}

.uk-container-large {
  max-width: 1400px
}

.uk-container-xlarge {
  max-width: 1600px
}

.uk-container-expand {
  max-width: none
}

.uk-container-expand-left {
  margin-left: 0
}

.uk-container-expand-right {
  margin-right: 0
}

@media (min-width: 640px) {
  .uk-container-expand-left.uk-container-xsmall,.uk-container-expand-right.uk-container-xsmall {
      max-width:calc(50% + (750px / 2) - 30px)
  }

  .uk-container-expand-left.uk-container-small,.uk-container-expand-right.uk-container-small {
      max-width: calc(50% + (700px / 2) - 30px)
  }
}

@media (min-width: 960px) {
  .uk-container-expand-left,.uk-container-expand-right {
      max-width:calc(50% + (1380px / 2) - 40px)
  }

  .uk-container-expand-left.uk-container-xsmall,.uk-container-expand-right.uk-container-xsmall {
      max-width: calc(50% + (750px / 2) - 40px)
  }

  .uk-container-expand-left.uk-container-small,.uk-container-expand-right.uk-container-small {
      max-width: calc(50% + (700px / 2) - 40px)
  }

  .uk-container-expand-left.uk-container-large,.uk-container-expand-right.uk-container-large {
      max-width: calc(50% + (1400px / 2) - 40px)
  }

  .uk-container-expand-left.uk-container-xlarge,.uk-container-expand-right.uk-container-xlarge {
      max-width: calc(50% + (1600px / 2) - 40px)
  }
}

.uk-container-item-padding-remove-left,.uk-container-item-padding-remove-right {
  width: calc(100% + 15px)
}

.uk-container-item-padding-remove-left {
  margin-left: -15px
}

.uk-container-item-padding-remove-right {
  margin-right: -15px
}

@media (min-width: 640px) {
  .uk-container-item-padding-remove-left,.uk-container-item-padding-remove-right {
      width:calc(100% + 30px)
  }

  .uk-container-item-padding-remove-left {
      margin-left: -30px
  }

  .uk-container-item-padding-remove-right {
      margin-right: -30px
  }
}

@media (min-width: 960px) {
  .uk-container-item-padding-remove-left,.uk-container-item-padding-remove-right {
      width:calc(100% + 40px)
  }

  .uk-container-item-padding-remove-left {
      margin-left: -40px
  }

  .uk-container-item-padding-remove-right {
      margin-right: -40px
  }
}

.tm-main .uk-container {
  padding-left: 15px;
  padding-right: 15px
}

@media (min-width: 640px) {
  .tm-main .uk-container {
      padding-left:30px;
      padding-right: 30px
  }
}

@media (min-width: 960px) {
  .tm-main .uk-container {
      padding-left:40px;
      padding-right: 40px
  }
}

@media (min-width: 1200px) {
  .tm-intro-text {
      margin-top:30px
  }
}

@media (min-width: 1600px) {
  .tm-intro-text {
      margin-top:90px
  }

  .tm-intro-image {
      margin-right: -75px
  }
}

@media (min-width: 960px) {
  .uk-section {
    padding-top: 110px;
    padding-bottom: 70px;
  }
}

.uk-navbar-item, .uk-navbar-nav>li>a, .uk-navbar-toggle {
  min-height: 60px;
}

.tm-navbar-container:not(.uk-navbar-transparent) {
  background: linear-gradient(to left, #28a5f5, #1e87f0);
}

.uk-logo {
  font-size: 1.3rem;
}

.uk-light .uk-logo, .uk-section-primary:not(.uk-preserve-color) .uk-logo, .uk-section-secondary:not(.uk-preserve-color) .uk-logo, .uk-tile-primary:not(.uk-preserve-color) .uk-logo, .uk-tile-secondary:not(.uk-preserve-color) .uk-logo, .uk-card-primary.uk-card-body .uk-logo, .uk-card-primary>:not([class*='uk-card-media']) .uk-logo, .uk-card-secondary.uk-card-body .uk-logo, .uk-card-secondary>:not([class*='uk-card-media']) .uk-logo, .uk-overlay-primary .uk-logo, .tm-navbar-container:not(.uk-navbar-transparent) .uk-logo {
  color: #fff;
}

.tm-sidebar-left {
  position: fixed;
  top: 60px;
  bottom: 0;
  box-sizing: border-box;
  width: 240px !important;
  padding: 0px 30px 40px 30px;
  border-right: 1px #e5e5e5 solid;
  overflow: auto
}

.tm-sidebar-right {
  position: absolute;
  top: 0;
  left: calc(100% + 0px);
  width: 200px
}

@media (min-width: 960px) {
  .tm-sidebar-left+.tm-main {
      padding-left:240px
  }
}

@media (min-width: 1200px) {
  .tm-sidebar-right {
      left:calc(100% + 0px)
  }

  .tm-sidebar-left+.tm-main {
      padding-left: 40px
  }
}

@media (min-width: 1400px) {
  .tm-sidebar-left {
      width:300px !important;
      padding: 0px 30px 40px 30px;
  }

  .tm-sidebar-right {
      left: calc(100% + 60px)
  }

  .tm-sidebar-left+.tm-main {
      padding-left: 40px
  }
}

.tm-navbar-container:not(.uk-navbar-transparent) {
  background: linear-gradient(to left, #28a5f5, #1e87f0)
}

.tm-navbar-container .uk-navbar-nav>li>a,.tm-navbar-container .uk-navbar-item:not(.uk-logo),.tm-navbar-container .uk-navbar-toggle {
  height: 70px;
  font-size: 13px
}

.tm-navbar-container .uk-navbar-nav>li>a {
  position: relative
}

.tm-navbar-container .uk-navbar-nav>li>a::before {
  content: '';
  display: block;
  position: absolute;
  left: 15px;
  right: calc(102% - 15px);
  bottom: 20px;
  height: 1px;
  background-color: currentColor;
  transition: .3s ease-in-out;
  transition-property: right
}

.tm-navbar-container .uk-navbar-nav>li>a:hover::before {
  right: 15px
}

.tm-nav>li {
  margin-bottom: 6px;
}

.tm-nav>li.uk-active>a {
  position: relative
}

.tm-nav>li.uk-active>a:before {
  content: "";
  position: absolute;
  top: 15px;
  left: -25px;
  width: 15px;
  border-top: 1px solid #1e87f0
}

.tm-nav .uk-nav-header {
  padding: 14px 0;
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;
}

@media (min-width: 960px) {
  .tm-subnav {
      margin-left:-50px
  }

  .tm-subnav>* {
      padding-left: 50px
  }
}

.uk-nav-default {
  font-size: .775rem;
}

.uk-nav .uk-icon {
  margin-right: 3px;
}

.tm-heading-fragment>a {
  color: inherit;
  text-decoration: none
}

.uk-table th {
  font-size: .675rem;
}

.uk-table tr td {
  font-size: 14px;
}

.uk-table-cursor-pointer tbody tr {
  cursor: pointer;
}

.uk-navbar-container {
  position: fixed;
  top: 0px;
  width: 100%;
}
