<h3> {{ zone.name }} </h3>
<table class="uk-table uk-table-hover uk-table-left uk-table-divider">
  <thead>
    <tr>
      <th class="uk-table-shrink"></th>
      <th class="uk-table-shrink"> Name </th>
      <th class="uk-table-shrink"> Total Impressions </th>
    </tr>
  </thead>
  <h4 class="uk-h4"> Assigned Campaigns </h4>
  <tbody>
    {{ assignedCampaignList assigned_campaigns }}
  </tbody>
</table>
