<h3> {{ campaign.name }} </h3>
<h4 class="uk-h4"> Ad Items </h4>
<div class="uk-margin">
  <button class="uk-button uk-button-default" uk-toggle="target: #ad-item-create-modal" type="button">
    <span uk-icon="plus" class="uk-icon uk-margin-small-right"></span>
    <span class="uk-text-middle"> Add New </span>
  </button>
</div>
<div id="ad-item-create-modal" uk-modal>
  <div class="uk-modal-dialog uk-modal-body">
    <h2 class="uk-modal-title"> New Ad Item </h2>
    <div class="uk-form-horizontal">
      <div class="uk-margin">
        <label class="uk-form-label" for="ad-item-name-input"> Name </label>
        <div class="uk-form-controls">
          <input class="uk-input" id="ad-item-name-input" type="text" placeholder="">
        </div>
      </div>
      <div class="uk-margin">
        <label class="uk-form-label" for="ad-item-link-input"> Destination URL </label>
        <div class="uk-form-controls">
          <input class="uk-input" id="ad-item-link-input" type="text" placeholder="http://">
        </div>
      </div>
      <div class="uk-margin">
        <label class="uk-form-label" for="ad-item-image-url-input"> Image source </label>
        <div class="uk-form-controls">
          <input class="uk-input" id="ad-item-image-url-input" type="text" placeholder="http://">
        </div>
      </div>
      <div class="uk-margin">
        <label class="uk-form-label" for="ad-item-size-select"> Size </label>
        <div class="uk-form-controls">
          <select class="uk-select" id="ad-item-size-select">
            <option disabled=""> IAB Core Ad Units: </option>
            <option value="300x250"> 300x250 - Medium Rectangle </option>
            <option value="180x150"> 180x150 - Rectangle </option>
            <option value="728x90"> 728x90 - Leaderboard </option>
          </select>
        </div>
      </div>
      <div class="uk-margin">
        <label class="uk-form-label"> Target window </label>
        <div class="uk-form-controls">
          <label><input value="_blank" class="uk-radio" type="radio" name="radio2" checked> New </label>
          <label><input value="" class="uk-radio" type="radio" name="radio2"> Same </label>
        </div>
      </div>
    </div>
    <p class="uk-text-right">
      <button class="uk-button uk-button-default uk-modal-close" type="button"> Cancel </button>
      <button id="ad-item-create-button" class="uk-button uk-button-primary" type="button"> Save Ad Item </button>
    </p>
  </div>
</div>
<table id="ad-item-list" class="uk-table uk-table-hover uk-table-left uk-table-divider">
  <thead>
    <tr>
      <th class="uk-table-shrink"></th>
      <th class="uk-table-shrink"> Name </th>
      <th class="uk-table-shrink"> Total Impressions </th>
      <th class="uk-table-shrink"> Clicks </th>
    </tr>
  </thead>
  <tbody>
    {{ adItemList ad_items }}
  </tbody>
</table>
<div class="uk-margin">
  <button id="ad-item-delete-button" class="uk-button uk-button-default" type="button">
    <span uk-icon="close" class="uk-icon uk-margin-small-right"></span>
    <span class="uk-text-middle"> Delete </span>
  </button>
</div>

<h4 class="uk-h4"> Zone Assignments </h4>
<div class="uk-margin">
  <button id="zone-assign-create-modal-button" class="uk-button uk-button-default" uk-toggle="target: #zone-assign-create-modal" type="button">
    <span uk-icon="plus" class="uk-icon uk-margin-small-right"></span>
    <span class="uk-text-middle"> Assign to Zone </span>
  </button>
</div>
<div id="zone-assign-create-modal" uk-modal>
  <div class="uk-modal-dialog uk-modal-body">
    <h4 class="uk-h4"> Select a Zone </h4>
    <h6 class="uk-h6"> Eligible Zones for a {{ campaign.name }} </h6>
    <div class="uk-form-horizontal">
      <table id="zone-assign-list" class="uk-table uk-table-hover uk-table-middle uk-table-divider uk-table-cursor-pointer">
        <thead>
          <tr>
            <th class="uk-table-shrink"></th>
            <th class="uk-table-shrink"> Name </th>
            <th class="uk-table-shrink"> Publisher </th>
            <th class="uk-table-shrink"> Zone Dimensions </th>
          </tr>
        </thead>
        <tbody>
          <tr class="uk-text-center">
            <td colspan="4"> No Zones Found </td>
          </tr>
        </tbody>
      </table>
    </div>
    <p class="uk-text-right">
      <button class="uk-button uk-button-default uk-modal-close" type="button"> Cancel </button>
    </p>
  </div>
</div>
<table id="zone-assignment-list" class="uk-table uk-table-hover uk-table-left uk-table-divider">
  <thead>
    <tr>
      <th class="uk-table-shrink"></th>
      <th class="uk-table-shrink"> Name </th>
      <th class="uk-table-shrink"> Total Impressions </th>
    </tr>
  </thead>
  <tbody>
    {{ zoneAssignmentList zones }}
  </tbody>
</table>
<div class="uk-margin">
  <button id="zone-assign-delete-button" class="uk-button uk-button-default" type="button">
    <span uk-icon="close" class="uk-icon uk-margin-small-right"></span>
    <span class="uk-text-middle"> Remove </span>
  </button>
</div>
