<h3> {{ advertiser.name }} </h3> 
<h4 class="uk-h4"> Campaigns </h4>
<div class="uk-margin">
  <button class="uk-button uk-button-default" uk-toggle="target: #campaign-create-modal" type="button">
    <span uk-icon="plus" class="uk-icon uk-margin-small-right"></span>
    <span class="uk-text-middle"> Add New </span>
  </button>
</div>
<div id="campaign-create-modal" uk-modal>
  <div class="uk-modal-dialog uk-modal-body">
    <h2 class="uk-modal-title"> New Campaign </h2>
    <div class="uk-form-horizontal">
      <div class="uk-margin">
        <label class="uk-form-label" for="campaign-name-input"> Name </label>
        <div class="uk-form-controls">
          <input class="uk-input" id="campaign-name-input" type="text" placeholder="">
        </div>
      </div>
    </div>
    <p class="uk-text-right">
      <button class="uk-button uk-button-default uk-modal-close" type="button"> Cancel </button>
      <button id="campaign-create-button" class="uk-button uk-button-primary" type="button"> Create </button>
    </p>
  </div>
</div>
<div class="uk-overflow-auto">
  <table class="uk-table uk-table-hover uk-table-left uk-table-divider">
    <thead>
      <tr>
        <th class="uk-table-shrink"></th>
        <th class="uk-table-shrink"> Name </th>
        <th class="uk-table-shrink"> Ads </th>
        <th class="uk-table-shrink"> Included In Zones </th>
      </tr>
    </thead>
    <tbody>
      {{ campaignList campaigns }}
    </tbody>
  </table>
</div>
<div class="uk-margin">
  <button id="campaign-delete-button" class="uk-button uk-button-default" type="button">
    <span uk-icon="close" class="uk-icon uk-margin-small-right"></span>
    <span class="uk-text-middle"> Delete </span>
  </button>
</div>
