<h3> Publisher List </h3>
<div class="uk-overflow-auto">
  <table class="uk-table uk-table-hover uk-table-left uk-table-divider">
    <thead>
      <tr>
        <th class="uk-table-shrink"></th>
        <th class="uk-table-shrink"> Name </th>
        <th class="uk-table-shrink"> Zones </th>
      </tr>
    </thead>
    <tbody>
      {{ publisherList publishers }}
    </tbody>
  </table>
</div>
