<h3> {{ publisher.name }} </h3> 
<h4 class="uk-h4"> Zones </h4>
<div class="uk-margin">
  <button class="uk-button uk-button-default" uk-toggle="target: #zone-create-modal" type="button">
    <span uk-icon="plus" class="uk-icon uk-margin-small-right"></span>
    <span class="uk-text-middle"> Add New </span>
  </button>
</div>
<div id="zone-create-modal" uk-modal>
  <div class="uk-modal-dialog uk-modal-body">
    <h2 class="uk-modal-title"> New Zone </h2>
    <div class="uk-form-horizontal">
      <div class="uk-margin">
        <label class="uk-form-label" for="zone-name-input"> Name </label>
        <div class="uk-form-controls">
          <input class="uk-input" id="zone-name-input" type="text" placeholder="">
        </div>
      </div>
    </div>
    <div class="uk-form-horizontal">
      <div class="uk-margin">
        <label class="uk-form-label" for="zone-size-select"> Size </label>
        <div class="uk-form-controls">
          <select class="uk-select" id="zone-size-select">
            <option disabled=""> IAB Core Ad Units: </option>
            <option value="300x250"> 300x250 - Medium Rectangle </option>
            <option value="180x150"> 180x150 - Rectangle </option>
            <option value="728x90"> 728x90 - Leaderboard </option>
          </select>
        </div>
      </div>
    </div>
    <p class="uk-text-right">
      <button class="uk-button uk-button-default uk-modal-close" type="button"> Cancel </button>
      <button id="zone-create-button" class="uk-button uk-button-primary" type="button"> Create </button>
    </p>
  </div>
</div>
<div class="uk-overflow-auto">
  <table class="uk-table uk-table-hover uk-table-left uk-table-divider">
    <thead>
      <tr>
        <th class="uk-table-shrink"></th>
        <th class="uk-table-shrink"> Name </th>
        <th class="uk-table-shrink"> Size </th>
        <th class="uk-table-shrink"> Campaigns </th>
      </tr>
    </thead>
    <tbody>
      {{ zoneList zones }}
    </tbody>
  </table>
</div>
<div class="uk-margin">
  <button id="zone-delete-button" class="uk-button uk-button-default" type="button">
    <span uk-icon="trash" class="uk-icon uk-margin-small-right"></span>
    <span class="uk-text-middle"> Delete </span>
  </button>
</div>
